<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/nav.ejs') %>

<div class="container py-3">

    <%- include('./data-header.ejs') %>

    <%- include('./files-list.ejs') %>

</div>

<%- include('../includes/end.ejs') %>
